body {
  font-family: 'Montserrat', sans-serif;
  background: white;
}

.container {
  display: block;
  max-width: 680px;
  width: 80%;
  margin: 120px auto;
}

h1 {
  color: #4285F4;
  font-size: 48px;
  letter-spacing: -3px;
  text-align: center;
  margin: 120px 0 80px 0;
  transition: 0.2s linear;
}

.logo {
  width: 300px;
  height: auto;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.links li {
  display: inline-block;
}

.links a {
  text-decoration: none;
  color: #0f132a;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  transition: margin-left 0.3s ease;
}

/* 삼각형 */
.triangle {
  position: absolute;
  top: -15px;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(15, 19, 42, 0.1);
  transition: transform 0.3s ease-in-out;
}

form {
  width: 100%;
  max-width: 680px;
  margin: 40px auto 10px;
  position: relative;
}

.input__block {
  margin: 20px auto;
  display: block;
  position: relative;
}

.input__block input {
  display: block;
  width: 90%;
  max-width: 680px;
  height: 50px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: rgba(15, 19, 42, 0.1);
  color: rgba(15, 19, 42, 0.3);
  padding: 0 15px;
  font-size: 14px;
}

.signin__btn {
  background: #4285F4;
  color: white;
  display: block;
  width: 92.5%;
  max-width: 680px;
  height: 50px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s linear;
}

/* 추가 링크 */
.extra-links {
  text-align: center;
  margin: 20px 0;
}

.extra-link {
  color: #0f132a;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.2s ease-in-out;
}

.extra-link:hover {
  color: #4285F4; /* 로그인 버튼과 동일한 색상 */
}

/* OR 구분선 */
.separator {
  text-align: center;
  margin: 30px auto;
  width: 92.5%;
  position: relative;
}

.separator p {
  display: inline-block;
  background-color: white;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.separator:before,
.separator:after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  z-index: 0;
}

.separator:before {
  left: 0;
}

.separator:after {
  right: 0;
}

/* 로그인 버튼 위치 */
#signin {
  margin-left: 10mm;
}

/* 구글 로그인 버튼 */
.google__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 680px;
  height: 50px;
  margin: 20px auto;
  background: #afafaf;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}

.google-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
