<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIGN IN</title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <script th:src="@{/js/script.js}" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>

  <div class="container">
    <h1>
      <img th:src="@{/images/icon.png}" alt="Icon" />
    </h1>
    
    <ul class="links">
      <li>
        <a href="#" id="signin">로그인</a>
      </li>
      <li>
        <a href="#" id="signup">구글로 로그인</a>
      </li>
    </ul>

    <div th:if="${param.logout}">
      <p style="color: green; font-weight: bold;">로그아웃 되었습니다.</p>
    </div>
    
    <!-- 로그인 폼 -->
    <form action="/login" method="post">
      <!-- 삼각형 추가 -->
      <div class="triangle"></div>

      <div class="first-input input__block">
         <input type="text" placeholder="Username" class="input" id="username" name="username" required />
      </div>
      <div class="input__block">
         <input type="password" placeholder="Password" class="input" id="password" name="password" required />
      </div>
      <button class="signin__btn">로그인 하기</button>

      <div th:if="${error}" class="error-message">
        <p th:text="${error}" style="color: red; font-weight: bold;"></p>
      </div>
    </form>
    
    <div class="separator">
      <p>OR</p>
    </div>

    <!-- 구글 로그인 버튼 -->
    <a href="/oauth2/authorization/google" class="google__btn">
      <img th:src="@{/images/icons.png}" alt="Google Logo" class="google-logo" />
      구글 연동하기
    </a>
  </div>

</body>
</html>
